name,mac,broadcast
Window1,90-1B-0E-89-C4-44,{{ broadcastIp }}
Window2,90-1B-0E-85-41-AC,{{ broadcastIp }}
Window3,90-1B-0E-84-DA-53,{{ broadcastIp }}
Bare1,64-07-2D-BB-BB-BF,{{ broadcastIp }}
Bare2,64-07-2D-BB-BB-BF,{{ broadcastIp }}
Bare3,64-07-2D-BB-BB-BF,{{ broadcastIp }}
Bare4,64-07-2D-BB-DB-BF,{{ broadcastIp }}
