NM_CONTROLLED=no
AUTOCONNECT_SLAVES=yes
STP=no
TYPE=Bridge
PROXY_METHOD=none
BROWSER_ONLY=no
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
TYPE=bridge
ONBOOT=yes
DEVICE="{{ item.device }}"
{% if item.bootproto == 'static' %}
BOOTPROTO=static
    {% if item.adress is defined %}
IPADDR="{{ item.adress }}"
    {% endif -%}

    {% if item.netmask is defined %}
NETMASK="{{ item.netmask }}"
    {% endif -%}

    {% if item.gateway is defined %}
GATEWAY="{{ item.gateway }}"
    {% endif -%}

{% else %}
BOOTPROTO=dhcp
{% endif %}
