name,mac,ip
Window1,90-1B-0E-89-C4-44,{{ broadcastIp }}:{{ wolPort }}
Window2,90-1B-0E-85-41-AC,{{ broadcastIp }}:{{ wolPort }}
Window3,90-1B-0E-84-DA-53,{{ broadcastIp }}:{{ wolPort }}
Bare1,64-07-2D-BB-BB-BF,{{ broadcastIp }}:{{ wolPort }}
Bare2,64-07-2D-BB-BB-BF,{{ broadcastIp }}:{{ wolPort }}
Bare3,64-07-2D-BB-BB-BF,{{ broadcastIp }}:{{ wolPort }}
